:root {
  --color-charcoal: #264653;
  --color-persian-green: #2A9D8F;
  --color-oregen-crayola: #E9C46A;
  --color-sandy-brown : #F4A261;
  --color-burnt-sianna: #E76F51;
  --color-lighter: #FBFBFB;
  --color-darker: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--color-burnt-sianna);
  color: var(--color-lighter);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html, body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body, input, button, a {
  font-family: 'Roboto', sans-serif;
  color: var(--color-darker);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  height: 100vh;
  background: var(--color-charcoal);
}

.app header {
  position: absolute;

  top: 32px;
  right: 32px;
}

.app header a {
  display: block;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  color: var(--color-lighter);
  position: relative;

  padding:  0 2px 6px ;
  overflow: hidden;
  transition: color 0.2s;
}

.app header a:hover {
  color: var(--color-burnt-sianna);
}

.app header a::after {
  content: '';
  position: absolute;

  height: 2px;
  width: 100%;

  left: 0;
  bottom: 0;
  transform: translateY(100%) translateZ(0);
  transition: transform 0.2s;
  background: var(--color-burnt-sianna);
}

.app header a:hover::after {
  transform: translateY(0) translateZ(0);
}

.app div {
  flex: 1;
}